<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision Tech - Login</title>


    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">

        <div class="left-side">

            <header>
                <h1>SIRA</h1>

                
            </header>

            <div class="login-box">

                <h2>Cadastrar Aluno</h2>

                <form>

                    <input
                        type="text"
                        placeholder="MATRÍCULA"
                    >

                    <input
                        type="password"
                        placeholder="SENHA"
                    >

                   

                    <button type="submit">
                        Confirmar
                    </button>

                   

                </form>

            </div>

        </div>

        <div class="right-side">

            <img
                src="img/estudante.png"
                alt="Estudante"
            >

        </div>

    </div>

</body>
</html>