<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision Tech - Login</title>


    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">

        <div class="left-side">

            <header>
                <h1>SIRA</h1>

                <nav>
                    <a href="#" class="active">Inscreva-se</a>
                </nav>
            </header>

            <div class="login-box">

                <h2>Criar conta</h2>

                <form>

                    <input
                        type="email"
                        placeholder="EMAIL"
                        
                    >

                    <input
                        type="password"
                        placeholder="SENHA"
                    >
                    <label for="cargo" style="color: #726c79;">Cargo na instituição</label>
                    <select id="cargo" name="cargo" required>
                    <option value="" style="color: #776886;">Selecione uma opção</option>
                    <option value="administrador">Administrador</option>
                    <option value="fiscal">Fiscal</option>
                    <option value="professor">Professor</option>
                    </select>

                    <div class="options">

                        <label>
                            <input type="checkbox">
                            ME LEMBRAR
                        </label>

                        <a href="#">
                            ESQUECEU A SENHA?
                        </a>

                    </div>

                    <button type="submit">
                        Log in
                    </button>

                    <p>
                        ou
                        <a href="/cadastro/">
                            Sign up
                        </a>
                    </p>

                </form>

            </div>

        </div>

        <div class="right-side">

            <img
                src="img/estudante.png"
                alt="Estudante"
            >

        </div>

    </div>

</body>
</html>