<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision Tech - Login</title>


    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">

        <div class="left-side">

            <header>
                <h1>SIRA</h1>

               
            </header>

            <div class="login-box">

                <h2>Criar conta</h2>

                <form>

                    <input
                        type="email"
                        placeholder="EMAIL"
                        
                    >

                    <input
                        type="password"
                        placeholder="SENHA"
                    >
                    <label for="cargo" style="display:block; margin-left:15px; color:#4b0f82;">
                    Cargo na instituição
                    </label>
                    <select id="cargo" name="cargo"  style="color:#777;" required>
                    <option value="" >Escolha uma opção</option>
                    <option value="administrador">Administrador</option>
                    <option value="fiscal">Fiscal</option>
                    <option value="professor">Professor</option>
                    </select>

                    <div class="options">

                       

                        <a href="#">
                            ESQUECEU A SENHA?
                        </a>

                    </div>

                    <button type="submit">
                        Criar
                    </button>

                    <p>
                        ou
                        <a href="login.html">
                            Sign up
                        </a>
                    </p>

                </form>

            </div>

        </div>

        <div class="right-side">

            <img
                src="img/estudante.png"
                alt="Estudante"
            >

        </div>

    </div>

</body>
</html>